

<footer class="new_footer_area bg_color">
  <div class="new_footer_top">
      <div class="footer_bg" style="text-align: center;">
          <div class="footer_bg_one">© AssembleRestaurants All rights reserved.</div>
          <div class="footer_bg_two"></div>
      </div>
  </div>
  <div class="footer_bottom">
      <div class="container">
          <div style="text-align: center;">
            <p>© AssembleRestaurants All rights reserved.</p>
          </div>
      </div>
  </div>
</footer>
