// body {
//   background: rgba(22, 39, 93, 0.924);
//   text-align: center;
// }

.card {
  background: rgba(233, 237, 250, 0.924);
  border-radius: 2px;
  display: inline-block;
  height: 200px;
  margin: 1rem;
  position: relative;
  width: 300px;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-2 {
  width: 50%;
  height: 70px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
  margin-right: 30%;
  margin-left: 30%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}


.rescontainer {
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

// button {
//   border: none;
//   outline: 0;
//   display: inline-block;
//   padding: 8px;
//   color: white;
//   background-color: #000;
//   text-align: center;
//   cursor: pointer;
//   width: 100%;
//   font-size: 18px;
// }

// a {
//   text-decoration: none;
//   font-size: 22px;
//   color: black;
// }

// button:hover, a:hover {
//   opacity: 0.7;
// }
.transition { transition: all .1s ease; }

.section {
  padding: 2em;
  text-align: center;
}
.btn {
  @extend .transition;
  position: relative;
  display: inline-block;
  margin: 1em;
  padding: 1em 2em;
  border: 0;
  border-radius: 30px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;

  &:hover {
    box-shadow: inset 0 -3px 0 rgba(0,0,0,0.15);
  }

  &:active {
    transform: translateY(1px);
    box-shadow: inset 0 3px 0 0 rgba(0,0,0,0.15);
  }

  &:focus {
    outline: none;
  }

  &--basic {
    background-color: #e3eacc;
    color: #455a00;
  }
  &--ghost {
    background-color: transparent;
    border: 1px solid #739600;
    color: #739600;
  }
  &--add {
    background-color: transparent;
    border: 1px solid blue;
    color: blue;
  }
  &--dark {
    background-color: #455a00;
    color: white;
  }
  &--action {
    background-color: #739600;
    color: white;
  }
  &--danger {
    background-color: #ff0000;
    color: white;
  }
  &--link {
    background-color: transparent;
    color: #5786bd;
  }
  &--dropdown {
    padding-right: 3em;

    &:before {
      content: '';
      right: 24px;
      top: 22px;
      width: 2px;
      height: 6px;
      background-color: rgba(0,0,0,0.1);
      position: absolute;
      transform: rotate(-45deg);
    }
    &:after {
      content: '';
      right: 20px;
      top: 22px;
      width: 2px;
      height: 6px;
      background-color: rgba(0,0,0,0.1);
      position: absolute;
      transform: rotate(45deg);
    }
  }
}

.btn-group {
  display: inline-block;
  vertical-align: middle;
  list-style: none;
  padding: 0; margin: 0;

  &__item {
    float: left;

    &:first-child {
      .btn {
        border-radius: 30px 0 0 30px;
      }
    }

    .btn {
      border-radius: 0;
      margin: 0;
      border-right: 1px solid rgba(0,0,0,0.1);
    }

    &:last-child {
      .btn {
        border-radius: 0 30px 30px 0;
        border-right: 0;
      }
    }
  }
}


input[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 50%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
