<app-header></app-header>
<h1 style="text-align: center;">
  All Restaurant
</h1>
<div class="card-2" *ngIf="!(createaction)">
  <div class="">
    <h2 style="text-align: center;">Add New Restaurant/Pub/Cafe
      <button class="btn btn--add" (click)="createres()">Create</button>
    </h2>
  </div>
</div>

<div class="card-3" *ngIf="(createaction)">
  <!-- <div class="section"><button class="btn btn--dark">add</button></div> -->
  <div class="section">
    <form [formGroup]="restaurantForm" (ngSubmit)="restaurant()">
      <h4 *ngIf="error" style="text-align: center;">{{error}}</h4>
      <span style="padding-top: 20px;"> </span>
      <div>
        <input type="text" formControlName="restaurantname" placeholder="Restaurant/cafe/pub Name">
      </div>
      <div>
        <input type="text" formControlName="restauranttype" placeholder="Restaurant/cafe/pub Type">
      </div>
      <div class="section btn-group ">
        <!-- <input type="submit" class="btn btn--dark" value="Add"> -->
        <button class="btn btn--dark">add</button>
        <button class="btn btn--basic" (click)="cancelres()">Cancel</button>
      </div>
      <!-- <input type="submit" class="btn btn--dark" value="Submit"> -->
    </form>
  </div>
</div>

<div class="card-3" *ngIf="(delbutton)">
  <div class="rescontainer">
    <h2>Delete action</h2>
    <p class="title">Are you sure you want to delete '{{delname}}' permanently ?</p>
  <div class="section btn-group ">
    <button class="btn btn--danger">Discard</button>
    <button class="btn btn--basic" (click)="delcancel()">Cancel</button>
  </div>
  </div>
</div>

<div class="card card-1" *ngFor="let res of allrestaurants">
  <div class="rescontainer">
    <h1>{{res.restaurantname}}</h1>
    <p>Type: {{res.restauranttype}}</p>
  <div class="section btn-group ">
    <button class="btn btn--action">Edit</button>
    <button class="btn btn--danger" (click)="deleteaction(res.restaurantname)">Delete</button>
  </div>
  </div>
</div>
