<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css">

<div class="container" id="container">
        <div class="form-container sign-up-container">
            <form [formGroup]="loginsignupForm" (ngSubmit)="register()">
                <h1>Create Account</h1>
                <div class="social-container">
                    <a href="#" target="_blank" class="social"><i class="fab fa-instagram"></i></a>
                    <a href="#" target="_blank" class="social"><i class="fab fa-twitter"></i></a>
                    <a href="#" target="_blank" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>or use your email for registration</span>
                <input type="text" placeholder="First Name" formControlName="firstName"/>
                <input type="text" placeholder="Last Name" formControlName="lastName"/>
                <input type="email" placeholder="Email" formControlName="email"/>
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">email is required</div>
                </div>
                <input [type]="showbutton ? 'text' : 'password'" placeholder="Password" formControlName="password"/>
                <i [class]="showeye ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="showPassword()"></i>
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
                <button class="su" >Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form [formGroup]="loginsignupForm" (ngSubmit)="login()">
                <h1>Sign In</h1>
                <div class="social-container">
                    <a href="#" target="_blank" class="social"><i class="fab fa-instagram"></i></a>
                    <a href="#" target="_blank" class="social"><i class="fab fa-twitter"></i></a>
                    <a href="#" target="_blank" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>or use your account</span>
                <input type="email" placeholder="Email" formControlName="email"/>
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">email is required</div>
                </div>
                <input [type]="showbutton ? 'text' : 'password'" placeholder="Password" formControlName="password"/>
                <i [class]="showeye ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="showPassword()"></i>
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Password is required</div>
                </div>

                <a href="#" target="_blank">I Forgot my Password</a>
                <!-- <a [routerLink]="[ '/dashboard' ]"> -->
                  <button type="submit" class="si">Sign In
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                  </button>
                  <span style="padding-top: 20px;"> </span>
                  <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                <!-- </a> -->
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To Keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Wanderer!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
