<app-header></app-header>
<p style="text-align: center;">

</p>
<div class="card-2">
<highcharts-chart
   [Highcharts] = "allhighcharts"
   [options] = "allchartOptions"
   style = "width: 100%; height: 400px; display: block;">
</highcharts-chart>
</div>
<div>
  <div class="card card-1">
    <highcharts-chart
  [Highcharts] = "allhighcharts"
  [options] = "chartOptions1"
  style = "width: 100%; height: 400px; display: block;">
  </highcharts-chart>
</div>
<div class="card card-1">
  <highcharts-chart
   [Highcharts] = "allhighcharts"
   [options] = "chartOptions2"
   style = "width: 100%; height: 400px; display: block;">
  </highcharts-chart>
</div>
<div class="card card-1">
  <highcharts-chart
  [Highcharts] = "allhighcharts"
  [options] = "chartOptions3"
  style = "width: 100%; height: 400px; display: block;">
  </highcharts-chart>
</div>
<div class="card card-1">
  <highcharts-chart
  [Highcharts] = "allhighcharts"
  [options] = "chartOptions4"
  style = "width: 100%; height: 400px; display: block;">
  </highcharts-chart>
</div>
</div>
